body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-size: 20px; */
    background-color: aliceblue;
}

img {
    height: 256px;
    width: auto;
}

.heading {
    font-family: 'Lucida Handwriting', cursive;
}

.title {
    text-align: center;
    color: goldenrod;
    /* font-size: 40px; */
}